[grid]
dew = 4000.
dns = 4000.
ewn = 416
nsn = 704
upn = 11

[time]
tstart = 0.0
tend = 5000.
dt = 0.2
dt_diag = 1.0
adaptive_cfl_threshold = 0.5
idiag = 134     # Jakobshavn GL
jdiag = 280

[options]
dycore = 2              # 0 = glide, 2 = glissade
flow_law = 2            # 0 = constant, 2 = Paterson-Budd
evolution = 3           # 3 = remapping
temperature = 1         # 0 = use air temp for column temps, 1 = prognostic, 3 = enthalpy
temp_init = 3           # 1 = use air temp for init. column temps, 2 = linear w/ depth, from T=artm at sfc to T_pmp at bed
marine_margin = 1       # 1 = remove all floating ice, 5 = calving mask, 6 = thickness-based calving, 7 = eigencalving
calving_domain = 1      # 0 = calve at ocean edge, 1 = calve everywhere
calving_init = 1        # 1 = calve at initialization
limit_marine_cliffs = .true.
basal_mass_balance = 1  # 1 = include bmlt in continuity
gthf = 1                # 0 = constant, 1 = read from file
smb_input = 1           # 0 = acab (m/yr ice), 1 = smb (mm/yr w.e.)
smb_input_function = 0  # 1 = SMB with vertical gradient
artm_input_function = 0 # 1 = artm with vertical gradient
bmlt_float = 0          # 1 = MISMIP+ melt rate profile
dm_dt_diag = 1          # 1 = Gt/yr
#restart = 1            # uncomment for a restart run


[ho_options]
compute_blocks = 0                # 0 = all blocks, 1 = active only, 2 = inquire
which_ho_cp_inversion = 1         # 0 = no inversion, 1 = invert for basal friction parameter
which_ho_babc = 9                 # 4 = no-slip at bed, 3 = pseudo-plastic, 9 = powerlaw, 11 = Schoof
which_ho_bwat = 0                 # 0 = no basal water, 2 = local basal till model
which_ho_effecpress = 3           # 3 = ocean connection
which_ho_efvs = 2                 # 0 = constant, 2 = nonlinear eff. visc. w/ n = 3
which_ho_thermal_timestep = 0     # 0 = therm before transport, 1 = therm after transport, 2 = split
which_ho_resid = 4                # 4 = relative L2 norm
which_ho_sparse = 3               # 1 = SLAP GMRES, 4 = Trilinos for linear solver
which_ho_nonlinear = 1            # 0 = Picard, 1 = accelerated Picard
which_ho_gradient = 0             # 0 = centered
which_ho_gradient_margin = 1      # 1 = hybrid gradient
which_ho_assemble_beta = 1        # 0 = default; 1 = local
which_ho_assemble_bfric = 1       # 0 = default; 1 = local
which_ho_assemble_taud = 1        # 0 = default; 1 = local
which_ho_approx = 4               # 2 = BP, 4 = DIVA
which_ho_precond = 4              # 1 = diagonal, 2 = SIA, 3 = local tridiag, 4 = global tridiag
which_ho_calving_front = 0        # 1 = subgrid calving front
which_ho_ground = 2               # 0 = no GLP, 1 = GLP, 2 = GLP with quadrants
which_ho_flotation_function = 3   # 0 = f_pattyn, 1 = inverse f_pattyn, 2 = ocean cavity, 3 = modified ocean cavity
glissade_maxiter = 100

[parameters]
flow_factor = 1.
flow_factor_float = 1.
ice_limit = 1.               # min ice thickness (m) for calc. mom. balance soln.
thck_gradient_ramp = 100.
marine_limit = -200          #
geothermal = -5.e-2          # positive down
max_slope = 0.10             #
rhoi = 917.
rhoo = 1026.
grav = 9.80616
shci = 2117.27
lhci = 3.337e5
trpt = 273.16
pmp_offset = 5.              # offset of initial Tbed from bpmp
effecpress_delta = 0.02
beta_grounded_min = 100.
beta_powerlaw_umax = 5000.
p_ocean_penetration = 0.
cliff_timescale = 0.0
taumax_cliff = 1.e6
powerlaw_c = 2.e4
powerlaw_m = 3.0
powerlaw_c_max = 1.0e5
powerlaw_c_min = 10.
inversion_babc_timescale = 500.
inversion_babc_thck_scale = 100.
inversion_babc_smoothing_timescale = 2000.
inversion_thck_flotation_buffer = 2.0
inversion_thck_threshold = 5.0
inversion_wean_powerlaw_c_tstart = 999999.
inversion_wean_powerlaw_c_tend = 999999.
inversion_wean_powerlaw_c_timescale = 1000.

[CF default]
comment = ISMIP6 spinup
title = Greenland 

[CF input]
name = greenland_04km_sm06.nc
time = 1
[CF input]
name = smb_masked_MAR39_04000m.nc
time = 1
[CF input]
name = artm_ref_MARv3.9-yearly-ERA-1960-1989_04000m.nc
time = 1
[CF input]
name = greenland_04km_bheatflx.nc
time = 1

[CF output]
variables = thk topg artm acab smb beta temp uvel vvel velnorm usurf btemp bpmp effecpress acab_applied_tavg bmlt_applied_tavg calving_rate_tavg floating_mask grounded_mask f_flotation powerlaw_c_inversion stag_powerlaw_c_inversion
name = output.nc
frequency = 1000.

[CF output]
variables = iareaf iareag imass imass_above_flotation total_smb_flux total_bmb_flux total_calving_flux
name = scalars.nc
frequency = 100.

[CF restart]
name = restart.nc
variables = restart
frequency = 1000.
xtype = double
write_init = F
