# Ignore netcdf output files
*.nc

# Ignore log files 
cism.config.log
results
slurm-*.out

# Keep symlinks to forcing files
!restart_relax.nc
!smb_reference_usrf.nc
!smb_ref.nc
!retreatmasks.nc
!smb_forcing.nc

